body{
    background-color: #EEEEEE;
}
.logo-top{
    margin-top: 10%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: block;
    padding: 0%;
}

.center-group{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(219,214,214, 0.8);
    border-radius: 10px;
    padding: 4vh;
    background-color: white;
    text-align: center;
    padding-top: 5vh;
    margin: auto;
}

.send_btn{
    width: 100%;
    background-color: #4047B3;
    color: white;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

.information-label{
    margin-bottom: 2vh;
}

